@model IEnumerable<ShowBuyOffersDTO>

@{
    ViewData["Title"] = "BuyOffers";
}

<h1>BuyOffers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AskingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferedMoney)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AskingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferedMoney)
            </td>
            <td>
                <a asp-area="Sell" asp-controller="Sell" asp-action="AcceptSellOffer" asp-route-id="@item.Id">Accept Offer</a> |
                <a asp-action="Delete" asp-controller="Buy" asp-area="Buy" asp-route-id="@item.Id">Delete Buy Offer</a> 
            </td>
        </tr>
}
    </tbody>
</table>
